<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}"><i class="fa fa-chevron-circle-left"></i> Newer</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">Older <i class="fa fa-chevron-circle-right"></i></a>
    {{/if}}
</nav>